{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<div class="row">
   <div class="col-lg-4">
       <img class="thumbnail" src="{% static 'images/shirt.jpg' %}">
       <div class="box-element product">
          <h6><strong>Camisa</strong></h6>
          <hr>
          <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
           <a class="btn btn-outline-success" href="#">View</a>
           <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
          
        </div>
   </div> 


   <div class="col-lg-4">
       <img class="thumbnail" src="{% static 'images/watch.jpg' %}">
       <div class="box-element product">
          <h6><strong>Reloj</strong></h6>
           <hr>
          <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
           <a class="btn btn-outline-success" href="#">View</a>
           <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
       
        </div>
   </div> 
   
  
   <div class="col-lg-4">
      <img class="thumbnail" src="{% static 'images/headphones_EYp287K.jpg' %}">
      <div class="box-element product">
          <h6><strong>Audifono</strong></h6>
           <hr>
          <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
          <a class="btn btn-outline-success" href="#">View</a>
           <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
       
        </div>
   </div> 
</div>
   
{% endblock content %}
<img src="{% static 'images/cart.png' %}">